body{
    margin:0px;
    padding:0px;

    background: url('/img/home/road.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.guest-button-log {
    margin: 5px 10px;
}

.text-center {
    text-align: center;
}

.navbar-custom {
    background: rgba(255, 255, 255, 0.9);
}

.alert {
    margin: 10px 0px;
}

.underline {
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: 0px 0px 1px;
    padding-bottom: 5px;
}

#main-body {
    margin: 50px 0px;
}

.btn a,
.btn a:hover,
.btn a:active,
.btn a:focus {
    color: white;
    text-decoration: none;
}

.dropdown-item > a,
.dropdown-item > a:hover,
.dropdown-item > a:active,
.dropdown-item > a:focus {
    color: #212529;
    text-decoration: none;
}

.lead {
    margin: 0px;
}

#map {
    width:700px;
    height:500px;
    margin:auto;
}

#panel {
    width:700px;
    margin:auto;
}