body{
    font-family:Arial;
    background:#000000;
    margin:0px;
    padding:0px;
}

#container{
    position:relative;
    width:990px;
    margin:auto;
    background:#FFFFFF;
    padding:20px 0px 20px 0px;
}

#container h1{
    margin:0px 0px 10px 20px;
}

#container #map{
    width:700px;
    height:500px;
    margin:auto;
}

#container #panel{
    width:700px;
    margin:auto;
}

#container #destinationForm{
    margin:0px 0px 20px 0px;
    background:#EEEEEE;
    padding:10px 20px;
    border:solid 1px #C0C0C0;
}

#container #destinationForm input[type=text]{
    border:solid 1px #C0C0C0;
}